<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Avalanche Reports Page</title>
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f8ff; /* Light blue background */
    }

    

    main {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
    }

    h1, h2 {
      color: #4169e1; /* Royal blue text */
      margin-bottom: 20px;
    }

    form {
      display: none;
      width: 100%;
      max-width: 600px;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      margin-top: 20px;
    }

    label {
      margin-bottom: 8px;
      color: #4682b4; /* Steel blue label color */
      display: block;
    }

    input {
      padding: 10px;
      margin-bottom: 16px;
      border: 1px solid #87cefa; /* Light sky blue border */
      border-radius: 5px;
      transition: border-color 0.3s;
      width: 100%;
      box-sizing: border-box;
    }

    input:focus {
      border-color: #4169e1; /* Royal blue on focus */
    }

    .button-container {
      display: flex;
      justify-content: space-between;
    }

    .blue-button,
    .cancel-button {
      background-color: #4169e1; /* Royal blue button */
      color: #ffffff;
      padding: 12px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 48%; /* Adjust width as needed */
      box-sizing: border-box;
    }

    .cancel-button {
      background-color: #ffffff; /* White background for cancel button */
      color: #4169e1; /* Royal blue text for cancel button */
    }

    .blue-button:hover,
    .cancel-button:hover {
      background-color: #1e90ff; /* Dodger blue on hover */
    }

    #addReportButton {
      background-color: darkblue; /* Royal blue button */
      color: #ffffff;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    #addReportButton:hover {
      background-color: #1e90ff; /* Dodger blue on hover */
    }

    #reports {
      width: 100%;
      text-align: left;
    }

    .report {
      border: 1px solid #b0e0e6; /* Powder blue border */
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 5px;
      background-color: #f0f8ff; /* Light blue background */
    }
  </style>
</head>

<body>
  <header>
    <!-- No Style Applied Header -->
  </header>

  <main>
    <h1>Avalanche Reports Page</h1>

    <button id="addReportButton" onclick="toggleAddReportForm()" style="position: absolute; top: 70px; right: 10px;">Add Report</button>

    <form method="post" action="/reports/add">
      <!-- <label for="report_id">Report ID:</label>
      <input type="text" id="report_id" name="report_id" required> -->

      <label for="observations">Observations:</label>
      <input type="text" id="observations" name="observations" required>

      <label for="date">Date:</label>
      <input type="date" id="date" name="date" required>

      <label for="imagePath">Image URL(optional):</label>
      <input type="text" id="image_path" name="image_path">

      <label for="location">Location(optional):</label>
      <input type="text" id="location" name="location">

      <div class="button-container">
        <button type="button" class="cancel-button" onclick="toggleAddReportForm()">Cancel</button>
        <input type="submit" value="Submit" class="blue-button" />
      </div>
    </form>

    <div id="reports">
      <h2>Current Reports</h2>
      <div class="report">
        <% if (report_data[0]) { %>
          <% report_data.forEach(report_id => { %>
            <% if (report_id.report_id) { %>
              <strong>Report ID:</strong> <%= report_id.report_id %>
              <Strong>User:</Strong> <%= report_id.username %> 
              <Strong>:</Strong><br>
              
              <% if(report_id.image_path) { %>
                <img height="80px" src="<%= report_id.image_path %>" alt="">            
              <% } else { %>
                <img height="80px" src="https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?cs=srgb&dl=pexels-pixabay-417173.jpg&fm=jpg">
              <% } %>

              <br>
              <strong>Observations:</strong> <%= report_id.observations %><br>
              <strong>Date:</strong> <%= report_id.date %><br>

              <% if (report_id.location) { %>
                <strong>Location:</strong> <%= report_id.location %><br>
              <% } %>
              <br>
              <br>
            <% } %>
          <% }); %>
      <% } else { %>
          <p>No data available.</p>
      <% } %>

        
      </div>
      <!-- Add more reports as needed -->
    </div>
  </main>

  <script>
    function toggleAddReportForm() {
      var form = document.querySelector('form');
      form.style.display = (form.style.display === 'none' || form.style.display === '') ? 'block' : 'none';
    }
  </script>
  <%- include ('../partials/footer') %>
</body>

</html>
